[submodule "cq_anacli_10"]
	path = cq_anacli_10
	url = git@bitbucket.org:creativiquadrati/cq_anacli_10.git
[submodule "cq_crm_10"]
	path = cq_crm_10
	url = git@bitbucket.org:creativiquadrati/cq_crm_10.git
[submodule "cq_technical_features"]
	path = cq_technical_features
	url = git@bitbucket.org:creativiquadrati/cq_technical_features.git
[submodule "cq_products_10"]
	path = cq_products_10
	url = git@bitbucket.org:creativiquadrati/cq_products_10.git
[submodule "cq_stock_10"]
	path = cq_stock_10
	url = git@bitbucket.org:creativiquadrati/cq_stock_10.git
[submodule "cq_sales_10"]
	path = cq_sales_10
	url = git@bitbucket.org:creativiquadrati/cq_sales_10.git
[submodule "cq_purchase_10"]
	path = cq_purchase_10
	url = git@bitbucket.org:creativiquadrati/cq_purchase_10.git
[submodule "cq_invoice_10"]
	path = cq_invoice_10
	url = git@bitbucket.org:creativiquadrati/cq_invoice_10.git
[submodule "cq_invoice_forza_numero_10"]
	path = cq_invoice_forza_numero_10
	url = git@bitbucket.org:creativiquadrati/cq_invoice_forza_numero_10.git
[submodule "web_export_view"]
	path = web_export_view
	url = git@bitbucket.org:creativiquadrati/web_export_view_10.git
[submodule "account_invoice_entry_date"]
	path = account_invoice_entry_date
	url = git@bitbucket.org:creativiquadrati/account_invoice_entry_date_10.git
[submodule "l10n_it_fiscalcode"]
	path = l10n_it_fiscalcode
	url = git@bitbucket.org:creativiquadrati/l10n_it_fiscalcode_10.git
[submodule "l10n_it_ddt"]
	path = l10n_it_ddt
	url = git@bitbucket.org:creativiquadrati/cq_ddt10.git
